.mealHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.344);
    width: 20vw;
    height: 8vh;
    border-radius: 10px;
}
