.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #11660f;
  border: 1px solid #61136f;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #e71708;
  border-color: #4b1979;
}